dtx-style.sty
njuthesis.cfg
njuthesis.cls
njuthesis.pdf
sample.pdf
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.cmds
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.hd
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.tdo
*.thm
*.vrb
*.xdv
*.xdy
.DS_Store
